.iconButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    align-items: center;
    font-size: 0.8rem;
    color: black;
    cursor: pointer;
    filter: invert(100%);
    transition: filter 150ms ease, transform 300ms ease;
}

.iconButton:hover {
    transform: scale(1.05);
}

.iconButton img {
    width: 2rem;
    aspect-ratio: 1;
}