.navigationPane {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2rem;
    gap: 1rem;
    justify-self: center;
}

/*For NavLink underlines*/
* {
    text-decoration: none;
}