.toggleButton {
    border: solid 4px white;
    border-radius: 1rem;
    padding: 0 0.3rem;
    cursor: pointer;
    font-size: 3rem;
}

.toggleButton:hover {
    background-color: rgba(from white r g b / 0.2);
}


.label {
    font-size: 1.5rem;
}